.general{

    transition: all cubic-bezier(0.215, 0.610, 0.355, 1);
    padding: 9px 12px;
    border-radius:  5px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;

    
}
.general:hover{
 
   background: #f2f2f2;
}

 .active{
    
   
    position: relative;
    z-index: 10;
    transition: all 200ms;
    background: #f2f2f2;
  

}
 .active svg{
 

   transition: all 100ms;
   scale: 1.2;
   animation: svganim 200ms ;
}

@keyframes svganim {
   10%,90%{
      transform: translateX(2px);
   }
   20%,80%{
      transform: translateX(1px);
   }
   30%,70%,100%{
      transform: translateX(0px);
   }
   40%,60%{
      transform: translateX(-1px);
   }
   50%{
      transform: translateX(-2px);
   }
   
}

@media (max-width: 768px) {
  
  .active svg{
   stroke: #376cdf;
   animation: svganim 150ms ease-in-out ;
  }
  @keyframes svganim {
   10%,90%{
      transform: translateY(2px);
   }
   20%,80%{
      transform: translateY(1px);
   }
   30%,70%,100%{
      transform: translateY(0px);
   }
   40%,60%{
      transform: translateY(-1px);
   }
   50%{
      transform: translateY(-2px);
   }
   
}
   
}
